<div class="Container" style="
            max-width: 800px;
            margin: auto;
            padding: 10px;">
    <form action="/todo" method="POST" autocomplete="off">
        <input type="hidden" name="_id" value="{{task._id}}">
        <div class="form-group">
                <input type="text" class="form-control" name="task" placeholder="Add a Task" value="{{todo.task}}" style="

                width: 100%;
                border: none;
                border-bottom: 2px solid #000000;
                background: none;
                padding: 10px;
                outline: none;
                font-size: 25px;"/>
                <div class="text-danger">
                </div>
        </div>
    </form>

    <div class="To Do List">
        <h3 style="
                        margin: 10px 0;
                        font-size: 30px;
                        ">To Do List</h3>
    </div>

    <table>
        <tbody>
            {{#each list}}
            <tr>
                <td style="
                    width: 10%;
                    background: rgba(255, 255, 255, 0.38);
                    padding: 18px;
                    overflow: hidden;
                    ;
                    ">{{this.task}}
                    <a href="/todo/delete/{{this._id}}">
                        <i class="far fa-trash-alt" aria-hidden="true" style="
                        color: #000000;
                        float: right;
                        margin-left: 20px;
                        "></i></a>
                    <a href="/todo/{{this._id}}">
                        <i class="far fa-edit" aria-hidden="true" style="
                        color: #000000;
                        float: right;
                        margin-left: 20px;
                        "></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>
